@using Duende.IdentityServer.Extensions
<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/duende-logo.svg" class="icon-banner" alt="">
            MuHub Identity Provider
        </a>
    </nav>
</div>